$material-black: #222222;
$material-grey: #757575;
$color-green1: #6ACF3A;
$color-red1: #A32310;
$color-blue1: #8FBCBB;

// general
* {
    all: unset;
    font-family: Space Mono;
}


.bg {
    background-color: $material-grey;
    opacity: 0.4;
}

.close-box {
    background-color: $material-black;
    opacity: 0.5;
}

.close-box-label {
	font-size: 2em;
	font-weight: bold;
	opacity: 1;
	color: $material-grey;
}

.gen-win {
    background-color: $material-black;
    border-radius: 1em;
    opacity: 0.9;
}

// Time & Date
.date {
	margin: 0;
}
.date-day {
	color: $color-red1;
	font-size: 72px;
	font-weight: bold;
}

.date-month {
	color: $color-blue1;
	font-size: 28px;
}

.time-box {
	font-size: 72px;
	font-weight: bold;
}
.time-day {
	color: $color-blue1;
	font-size: 28px;
}

// Weather
.weather-1 {
	margin-top: 35px;
}
.weather-icon {
	background-size: 110px;
	min-height: 100px;
	min-width: 100px;
	margin-top: -30px;
	margin-left: -30px;
}

.weather-temp {
	color: cyan;
	font-size: 75px;
	margin-top: -45px;
	margin-left: 20px;
}

.weather-temp-unit {
	font-size: 95px;
	margin-top: -45px;
}

.weather-description {
	color: $color-blue1;
	font-size: 25px;
	margin-top: -35px;
	margin-left: 40px;
}

.weather-atemp-box {
	margin-top: -65px;
	margin-left: 35px;
}

.weather-atemp, .weather-atemp-text {
	font-size: 25px;
}

.weather-atemp {
	color: cyan;
}

.weather-atemp-unit {
	font-size: 35px;
}

.weather-2  {
	margin-top: -30px;
	margin-bottom: -25px;
}

.wind-icon {
	font-size: 40px;
	margin-right: 5px;
}

.wind-speed  {
	color: cyan;
	font-size: 20px;
}

.wind-direction-icon {
	font-size: 30px;
	margin-left: 15px;
	margin-right: 5px;
}

.wind-direction {
	color: cyan;
	font-size: 20px;
}

.wind-direction-deg {
	font-size: 10px;
	margin-left: -3px;
	margin-top: -10px;
}

.humidity-icon {
	font-size: 25px;
	margin-right: 5px;
	margin-left: 15px;
}

.humidity {
	color: cyan;
	font-size: 20px;
}

.pressure-icon {
	font-size: 25px;
	margin-right: 5px;
	margin-left: 15px;
}

.pressure {
	color: cyan;
	font-size: 20px;
}

.location-icon {
	font-size: 25px;
	margin-right: 5px;
	margin-left: 15px;
}

.location {
	color: cyan;
	font-size: 20px;
}

// Sys-info
.cpu-icon, .mem-icon, .swap-icon, .bat-icon, .bri-icon {
	margin-left: 1ex;
	margin-right: 1ex;
	margin-top: -1ex;
	margin-bottom: -1ex;
	font-size: 3em;
}

.cpu-icon {
	color: #BF616A;
}

.mem-icon {
	color: #A3BE8C;
}

.swap-icon {
	color: #EBCB8B;
}

.bat-icon {
	color: #1C9F9C;
}

.bri-icon {
	color: #BA986C;
}

.cpu-bar, .mem-bar, .bri-bar, .bat-bar, .swap-bar, scale trough {
	all: unset;
	background-color: #34404C;
	border-radius: 16px;
	min-height: 2em;
	min-width: 14em;
}

.cpu-bar, .mem-bar, .swap-bar, .bri-bar, .bat-bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu-bar, scale trough highlight {
	background-color: #BFDABF;
}

//.mem-bar scale trough highlight {
	//background-color: #A3BE8C;
//}

//.swap-bar scale trough highlight {
	//background-color: #EBCB8B;
//}

//.bat-bar scale trough highlight {
	//background-color: #1C9F9C;
//}

//.bri-bar scale trough highlight {
	//background-color: #BAF86C;
//}

// Files
.files-container {
	margin: 1em;
}
.storage-button {
	background-color: #323232;
	border-radius: 1em;
}

.storage-icon {
	font-size: 3em;
	margin-right: 0.5em;
}

.storage-button-sep {
	color: $material-grey;
	font-size: 2em;
	margin: -2em;
}

.storage-label-box {
	margin: 0.6em;
}

.storage-label {
	font-size: 1em;
	color: $color-blue1;
}

.files-box {
	margin-top: 1em;
}

.files-button {
	background-color: #323232;
	border-radius: 1em;
}

.files-icon {
	//margin: 0.5em;
	//background-size: 1.5em;
	//min-height: 1.5em;
	//min-width: 1.5em;
	margin-left: 1em;
	font-size: 1.6em;
	color: $color-green1;
}

.files-label {
	color: $color-blue1;
	font-size: 1em;
	margin-left: 3em;
}

// User
.user-box {
	margin: 1em;
}
.face {
	background-size: 15em;
	min-height: 15em;
	min-width: 15em;
	border-radius: 15em;
}

.fullname {
	color: $color-green1;
	font-size : 3em;
	font-weight : bold;
}

.username {
	color: $color-blue1;
	font-size : 2em;
}


// Toggle
.switch-box {
	margin: 1em;
}
.toggle-box {
	background-color: #323232;
	border-radius: 1em;
}
.toggle-icon {
	background-size: 5em;
	min-height: 5em;
	min-width: 5em;
	margin: 1em;
}
