[Unit]
Description=KDE Connect
After=multi-user.target

[Service]
ExecStart=/usr/bin/kdeconnect-indicator
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
