[Unit]
Description=KDE Polkit Agent
After=multi-user.target

[Service]
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
