* {
	black:				#222222;
	black-trans:		#22222244;
	black-trans1:		#22222288;
	black-trans2:		#222222CC;
	amber:				#ff9914;
	amber-trans:		#ff9914cc;
	amber-dark:			#ff9a15;
	lime:				#abff4f;
	lime-trans:			#abff4fbb;
	lime-trans1:		#abff4fce;
	red:				#ff0101;
	red-trans:			#ff010155;
	red-trans1:			#ff0101aa;
	white:				#f5fffa;
	white-trans:		#f5fffa44;
	white-trans1:		#f5fffa88;
	white-trans2:		#f5fffacc;
	font:				"Space Mono 25";
}
